xsd/ConfirmDeliveryOutcome-v2.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="2.0.1">
	<xs:include schemaLocation="SimpleTypes-v2.0.1.xsd"/>
	<xs:include schemaLocation="TransportTypes-v2.0.1.xsd"/>
	<xs:element name="ConfirmDeliveryOutcomeRequest">
		<xs:annotation>
			<xs:documentation>Επιβεβαίωση-Δήλωση Παράδοσης-Παραλαβής Παραστατικού</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="qrUrl" type="xs:string">
					<xs:annotation>
						<xs:documentation>Το url qr του δελτίου</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="outcome" type="DeliveryOutcomeType">
					<xs:annotation>
						<xs:documentation>Αποτέλεσμα</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="deliveredWithoutRecipient" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ένδειξη  παράδοσης χωρίς τη φυσική παρουσία του παραλήπτη.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="deliveredPackaging" type="PackagingDetailType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Λίστα με τις συσκευασίες και τις ποσότητες που παραδόθηκαν.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
