xsd/expensesClassification-v1.0.11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ecls="https://www.aade.gr/myDATA/expensesClassificaton/v1.0" xmlns:inv="http://www.aade.gr/myDATA/invoice/v1.0" targetNamespace="https://www.aade.gr/myDATA/expensesClassificaton/v1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.11">
<xs:include schemaLocation="SimpleTypes-v1.0.11.xsd"/>
  <xs:element name="ExpensesClassificationsDoc">
    <xs:annotation>
      <xs:documentation>Χαρατηρισμοί Εξόδων Πρότυπων Παραστατικών ΑΑΔΕ</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="expensesInvoiceClassification" type="ecls:InvoiceExpensesClassificationType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InvoiceExpensesClassificationType">
    <xs:sequence>
      <xs:element name="invoiceMark" type="xs:long">
        <xs:annotation>
          <xs:documentation>Μοναδικός Αριθμός Καταχώρησης Παραστατικού</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="classificationMark" type="xs:long" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Αποδεικτικό Λήψης Χαρακτηρισμού Εξόδων. Συμπληρώνεται από την Υπηρεσία</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="entityVatNumber" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ΑΦΜ Οντότητας Αναφοράς</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="transactionMode">
          <xs:annotation>
            <xs:documentation>Αιτιολογία Συναλλαγής</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:minInclusive value="1"/>
              <xs:maxInclusive value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="invoicesExpensesClassificationDetails" type="ecls:InvoicesExpensesClassificationDetailType" maxOccurs="unbounded"/>
      </xs:choice>
      <xs:element name="classificationPostMode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Μέθοδος Υποβολής Χαρακτηρισμού</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvoicesExpensesClassificationDetailType">
    <xs:sequence>
      <xs:element name="lineNumber" type="xs:int">
        <xs:annotation>
          <xs:documentation>Γραμμή Παραστατικού</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="expensesClassificationDetailData" type="ecls:ExpensesClassificationType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Λίστα Χαρακτηρισμών Εσόδων</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExpensesClassificationType">
    <xs:sequence>
      <xs:element name="classificationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Κωδικός Χαρακτηρισμού</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="ecls:ExpensesClassificationValueType"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="classificationCategory" type="ecls:ExpensesClassificationCategoryType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Κατηγορία Χαρακτηρισμού</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" type="ecls:AmountType">
        <xs:annotation>
          <xs:documentation>Ποσό Χαρακτηρισμού</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vatAmount" type="ecls:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Πόσο Φόρου</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vatCategory" type="ecls:VatType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Κατηγορία ΦΠΑ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vatExemptionCategory" type="ecls:VatExemptionType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Κατηγορία Εξαίρεσης ΦΠΑ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:byte" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Μοναδικός Αριθμός Χαρακτηρισμού</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>    
</xs:schema>
