xsd/GenerateGroupQRCode-v2.0.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.1">
	<xs:include schemaLocation="SimpleTypes-v2.0.1.xsd"/>	
	<xs:element name="GenerateGroupQRCodeRequest" type="GenerateGroupQRCodeRequestType"/>
	<xs:complexType name="GenerateGroupQRCodeRequestType">
		<xs:sequence>
			<xs:element name="qrUrls" type="QrUrlsType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QrUrlsType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Λίστα qr urls δελτίων</xs:documentation>
			</xs:annotation>
			<xs:element name="qrUrl" type="xs:string" minOccurs="2" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
