xsd/GenerateGroupQRCodeResponse -v2.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.0">
	<xs:element name="GenerateGroupQRCodeResponse" type="GenerateGroupQRCodeResponseType"/>	
	<xs:complexType name="GenerateGroupQRCodeResponseType">
		<xs:sequence>
			<xs:element name="groupQrUrl" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="qrUrlsCount" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="expiresAt" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="statusCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
