xsd/GetDeliveryStatusResponse-v2.0.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.1">
	<xs:include schemaLocation="SimpleTypes-v2.0.1.xsd"/>
	<xs:include schemaLocation="TransportTypes-v2.0.1.xsd"/>
	<xs:element name="GetDeliveryNoteStatusResponse" type="GetDeliveryNoteStatusResponseType"/>
	<xs:complexType name="GetDeliveryNoteStatusResponseType">
		<xs:sequence>
			<xs:element name="invoiceMark" type="xs:string"/>
			<xs:element name="status" type="xs:string"/>
			<xs:element name="dispatchTimestamp" type="xs:dateTime"/>
			<xs:element name="lifecycleHistory" type="DeliveryEventType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
