xsd/RegisterTransfer-v2.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="2.0.1">
	<xs:include schemaLocation="SimpleTypes-v2.0.1.xsd"/>
	<xs:include schemaLocation="TransportTypes-v2.0.1.xsd"/>
	<xs:element name="Transport">
		<xs:annotation>
			<xs:documentation>Μεταφόρτωση</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="transferMark" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Αποδεικτικό Λήψης Μεταφόρτωσης. Συμπληρώνεται από την Υπηρεσία</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="qrUrl" type="xs:string">
					<xs:annotation>
						<xs:documentation>Το url qr του δελτίου</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="transportDetail" type="TransportDetailType">
					<xs:annotation>
						<xs:documentation>Λεπτομέρειες Μεταφόρτωσης</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
