xsd/RejectDeliveryNote-v2.0.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.0">
	<xs:include schemaLocation="SimpleTypes-v2.0.0.xsd"/>
	<xs:include schemaLocation="TransportTypes-v2.0.0.xsd"/>
	<xs:element name="RejectDeliveryNoteRequest">
		<xs:annotation>
			<xs:documentation>Αίτημα Απόρριψης</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="qrUrl" type="xs:string">
					<xs:annotation>
						<xs:documentation>Το url qr του δελτίου</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="rejectionReason" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Περιγραφή του λόγου απόρριψης.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="150"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
